<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="chart">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Produksi</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="penjualan">
      <ion-icon name="logo-usd"></ion-icon>
      <ion-label>Penjualan</ion-label>
      <!-- <ion-badge color="success">3</ion-badge> -->
    </ion-tab-button>
    <ion-tab-button tab="pengeluaran">
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label>Pengeluaran</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
