.container {
  padding-top: 40%;

  img {
    width: 30%;
  }
  ion-label {
    font-size: 15px;
  }
}

.tombol {
  font-family: "Helvetica";
  font-size: 12px;
}

// @media (max-width: 400px) {
//   .container {
//     padding-top: 40%;
//     img {
//       width: 50%;
//     }
//   }
// }
