ion-content {
  --background: rgb(250, 249, 249) !important;
  ion-badge {
    padding: 5px 15px 5px 15px;
  }
  ion-searchbar {
    --border-radius: 25px;
    --box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2) !important;
  }

  ion-card {
    ion-item {
      margin-bottom: -10px;

      ion-label {
        font-size: 14px;
      }

      ion-buttons {
        margin-left: 0px;
        margin-right: -20px;
      }
    }
    ion-card-content {
      ion-col {
        ion-label {
          font-size: 12px;
        }
      }

      ion-row {
        ion-col {
          ion-item {
            ion-label {
              font-size: 16px;
            }
          }
        }
      }
    }

    border-radius: 10px;
    border: none;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15) !important;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15) !important;
  }

  .jml_bayar {
    margin-bottom: -10px;
  }

  .cari {
    --background: rgb(250, 249, 249) !important;
    ion-button {
      text-transform: none;
    }
    ion-datetime {
      --placeholder-color: var(--ion-color-base);
    }
  }

  ion-select {
    .select-text {
      font-size: 12px;
    }
    label {
      opacity: 1;
    }
  }

  .selectStatus {
    width: 19px;
    margin: 0px 5px 1px -20px;
  }

  ion-select {
    --placeholder-opacity: 1 !important;
    color: white;
    overflow: visible;
  }
}
